External tools used for image shrinking.

JPEG:
- jpegtran (http://jpegclub.org/jpegtran/; included in libjpeg-progs package
  on Ubuntu)
- Jpegoptim (http://www.kokkonen.net/tjko/projects.html)

GIF (used only for optimizing animated GIFs):
- Gifsicle (http://www.lcdf.org/gifsicle/)

PNG:
- OptiPNG (http://optipng.sourceforge.net/)
- AdvanceCOMP PNG (http://advancemame.sourceforge.net/doc-advpng.html)
- Pngcrush (http://pmt.sourceforge.net/pngcrush/)

Ubuntu contains packages for all of them. Use brew on Mac.
